*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar classes */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li {
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
}

.navbar ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}

.headings {
  font-family: century;
  font-size: 4.5rem;
  padding-top: 180px;
  padding-left: 500px;
  padding-bottom: 530px;
}

.heading-desciption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: century;
  font-size: 1.5px;
  padding-top: 180px;
  padding-left: 500px;
}

.cover-photo {
  border-radius: 100%;
  width: 500px;
  position: absolute;
  z-index: -1;
  margin-left: 30px
}

.about-me-title {
  display: inline-block;
  font-family: century;
  font-size: 2.7rem;
  color: rgb(9, 9, 88);
  padding-left: 130px;
}

.about-me-description {
  display: inline-block;
  justify-content: center;
  padding-left: 80px;
  padding-bottom: 150px;

}
.work-title {
  display: inline-block;
  font-family: century;
  font-size: 2.7rem;
  color: rgb(9, 9, 88);
  padding-left: 130px;
}

.work-btns {
  display: inline-block;
  justify-content: center;
  padding-left: 80px;
  padding-bottom: 150px;
}

.footer-title {
  display: inline-block;
  font-family: century;
  font-size: 2.7rem;
  color: rgb(9, 9, 88);
  padding-left: 130px;
}

.footer-info {
  display: flex;
  justify-content: center;
}

#phone {

}

#email {

}

#git-hub {

}

#you-tube {

}